*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
nav{
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 70px;
    background-color: black;
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}
.gameName{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameName i{
    margin: 10px;
}
.gameName h2{
    margin: 10px;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}
.optnLogo{
    display: none;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
nav li{
    list-style: none;
    padding: 0 10px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    opacity: 1;
    font-family: sans-serif;
}
nav a:hover{
    color: #9e8ccf;
}
.intro img{
    height: 100vh;
    width: 100%;
    position: relative;
}
.intro h3{
    position: absolute;
    top: 50vh;
    left: 70vw;
    color: aliceblue;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.game{
    margin: 0;
    padding: 0;
    background-image: url("./download.jpeg");
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
}
.title{
    margin: 0;
    padding: 80px 20px 40px 20px;
    height: 30px;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    color: whitesmoke;
    text-align: center;
    text-shadow: 2px 2px 3px #9e8ccf;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
}
.card{
    margin: 80px 30px 30px 30px;
    height: 200px;
    width: 200px;
    box-shadow: 3px 3px 5px black;
}
.card img{
    padding: 0;
    height: 200px;
    width: 200px;
    transition: 1s;
    background-size: cover;
}
.card img:hover{
    transform: scale(1.1);
    border-radius: 20px;
}
.about{
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(#040303, #081d3c);
    /* #0B2447; */
    color: whitesmoke;
}

.about p{
    padding: 40px 140px;
    text-align: justify;
}
.about h3{
    margin: 0;
    padding: 25px;
    height: 20px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    color: whitesmoke;
    text-align: center;
}
.teamCard{
    padding: 30px 250px ;
    display: flex;
    flex-direction: row;
}
.myPic img{
    padding: 20px 0;
    height: 250px;
}
.myInfo{
    padding-top: 20px;
    padding-left: 60px;
}
.myInfo h4{
    padding: 0;
}
.myInfo i{
    padding: 18px 0;
    color: gray;
}
.myInfo p{
    padding: 18px 0;
}
.myInfo a{
    padding: 10px 10px 0 0;
}
.contact{
    margin: 0;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(#040303, #3D0000);
    background-size: cover;
    color: whitesmoke;
}
.contact h4{
    padding: 40px;
    text-align: center;
    font-size: 20px;
}
.formContainer{
    
}