*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
nav{
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 70px;
    background-color: black;
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}
.gameName{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameName i{
    margin: 10px;
}
.gameName h2{
    margin: 10px;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}
.optnLogo{
    display: none;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
nav li{
    list-style: none;
    padding: 0 10px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    opacity: 1;
    font-family: sans-serif;
}
nav a:hover{
    color: #9e8ccf;
}
.intro img{
    height: 100vh;
    width: 100%;
    position: relative;
}
.intro h3{
    position: absolute;
    top: 50vh;
    left: 70vw;
    color: aliceblue;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.game{
    margin: 0;
    padding: 0;
    background-image: url("./download.jpeg");
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
}
.title{
    margin: 0;
    padding: 80px 20px 40px 20px;
    height: 30px;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    color: whitesmoke;
    text-align: center;
    text-shadow: 2px 2px 3px #9e8ccf;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
}
.card{
    margin: 80px 30px 30px 30px;
    height: 200px;
    width: 200px;
    box-shadow: 3px 3px 5px black;
}
.card img{
    padding: 0;
    height: 200px;
    width: 200px;
    transition: 1s;
    background-size: cover;
}
.card img:hover{
    transform: scale(1.1);
    border-radius: 20px;
}
.about{
    margin: 0;
    height: 120vh;
    width: 100%;
    background: linear-gradient(#040303, #081d3c);
    background-size: cover;
    color: whitesmoke;
}
.shortExplain{
    margin-top: 30px;
    padding: 30px 0 0 0;
    text-align: center;
}
.aboutWebsite{
    padding: 30px 100px;
    position: relative;
    text-align: justify;
}
.about h3{
    margin: 30px;
    height: 20px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    color: whitesmoke;
    text-align: center;
}
.teamCard{
    position: absolute;
    left: 9%;
    right: 9%;
    display: flex;
    flex-direction: row;
}
.myPic img{
    padding: 20px 0;
    height: 200px;
}
.myInfo{
    padding-top: 20px;
    padding-left: 60px;
}
.myInfo h4{
    padding: 0;
}
.myInfo i{
    padding: 18px 0;
    color: gray;
}
.myInfo p{
    padding: 18px 0;
}
.myInfo a{
    padding: 10px 10px 0 0;
}
.contact{
    margin: 0;
    height: 150vh;
    width: 100%;
    position: relative;
    background: linear-gradient(#040303, #3D0000);
    background-size: cover;
    color: whitesmoke;
}
.contact h4{
    padding: 40px;
    text-align: center;
    font-size: 20px;
}
.conCon{
    margin: 30px;
    width: 40%;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    left: 29%;
}
.alert{
    display: none;
    margin: 20px;
    padding: 15px; 
    width: 100%;
    height: 50px;
    text-align: center;
    justify-content: center;
    color: black; 
    background-color: #9e8ccf;
    border: 1px solid #610C9F;
    border-radius: 5px;
}
.formContainer{
    padding: 20px;
    width: 40%;
    margin: auto;
}
input[type=text], input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.sbtn{
    margin: 10px;
    background-color: #040303;
    color: whitesmoke;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 1s;
}
.sbtn:hover{
    background-color: #9e8ccf;
    border: 1px solid #610C9F;
    color: #000000;
    transform: scale(1.1);
    border-radius: 20px;
}
.footer{
    height: 25vh;
    width: 100%;
    background: linear-gradient(#000000, #040D12);
    background-size: cover;
    color: whitesmoke;
}
.footer h5{
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: 17px;
}
.footer a{
    color: whitesmoke;
}
.conLinks{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.conLinks a{
    padding: 0 6px;
}
.copyright{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
}
.copyright p{
    padding: 0 2px;
}

@media screen and (max-width:810px) {
    #enigma{
        display: none;
    }
    .title{
        font-size: 30px;
    }
    .cards{
        grid-template-columns: 1fr;
    }
    .aboutWebsite{
        display: none;
    }
    .myInfo p{
        display: none;
    }
    .myPic img{
        margin: 10px;
        justify-content: center;
        position: absolute;
        left: 17%;
        align-items: center;
    }
    .myInfo{
        position: absolute;
        top: 200px;
    }
    .teamCard{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .conCon{
        width: 60%;
        left: 10%;
        right: 10%;
    }
    .contact h4{
        font-size: 15px;
    }
    .alert{
        padding: 10px;
        font-size: 15px;
    }
}
@media screen and (max-width:450px){
    .options{
        display: none;
    }
    .optnLogo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
}
